<%- include('header') -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="restaurant.css">
  </head>
  <body>
    <div id="main2">
      <h1>Location:KUKAS</h1>
      <div id="main_container">
        <div id="container1">
          <div id="cart1">
            <h1 style="margin-top: 0px;">40% OFF UPTO ₹80</h1>
          </div>
          <h1>Out Of The Town</h1>
          <h4>North Indian, Beverages</h4>
          <h4>Kukas,1.8 km</h4>
          <button>Menu</button>
        </div>
        <div id="container2">
          <div id="cart2"></div>
          <h1>New Delhi Grand</h1>
          <h4>North Indian</h4>
          <h4>Kukas,1.7 km</h4>
          <button>Menu</button>
        </div>
        <div id="container3">
          <div id="cart3"></div>
          <h1>Cafe LazyMojo</h1>
          <h4>North Indian, Chinese</h4>
          <h4>Kukas,4.5 km</h4>
          <button>Menu</button>
        </div>
      </div>
      <div id="main_container">
        <div id="container1">
          <div id="cart4">
           <h1 style="margin-top: 0px;"> ₹150 OFF ABOVE 299</h1>
          </div>
          <h1>Gulabji Sweets & Restaurant</h1>
          <h4>South Indian, Chinese</h4>
          <h4>Kukas</h4>
          <button>Menu</button>
        </div>
        <div id="container2">
          <div id="cart5"></div>
          <h1>Manas Restaurant</h1>
          <h4>North Indian, Snacks</h4>
          <h4>Kukas,2.5 km</h4>
          <button>Menu</button>
        </div>
        <div id="container3">
          <div id="cart6"></div>
          <h1>Punjabi Veg And Non Veg Restaurant </h1>
          <h4>North Indian, Biryani</h4>
          <h4>Kukas,1.7 km</h4>
          <button>Menu</button>
        </div>
      </div>
      <div id="main_container">
        <div id="container1">
          <div id="cart7"></div>
          <h1>Purple Cafe</h1>
          <h4>Fast Food, Italian</h4>
          <h4>Kukas,0.8 km</h4>
          <button>Menu</button>
        </div>
        <div id="container2">
          <div id="cart8"></div>
          <h1>Singh's Town Cafe</h1>
          <h4>Beverages</h4>
          <h4>Kukas,3.0 km</h4>
          <button>Menu</button>
        </div>
        <div id="container3">
          <div id="cart9"></div>
          <h1>The Brother's Dhaba</h1>
          <h4>Indian</h4>
          <h4>Kukas,2.4 km</h4>
          <button>Menu</button>
        </div>
      </div>
    </div>
  </body>
</html>
